.footer__column-link {
    margin: 0;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    text-decoration: none;
  }
  
  .footer__column-link:hover {
    text-shadow: 2px 2px 7px silver;
  }