.footer__columns {
    width: 90%;
    min-height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    margin: 60px auto 40px;
 }